* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #E7F2FF;
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

.hero {
    background: linear-gradient(0deg, #E8F2FF 66.77%, #CBE2FF 83.53%);
    width: 100%;
    flex-shrink: 0;
    padding-top: 30px;
    position: relative;
}

.heroimg {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 740.317px;
    max-height: 658.135px;
    width: 100%;
    height: 100%;
}

.head {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;

}

.head h1 {
    font-weight: bold;
}

.navclass {
    display: inline-flex;
    padding: 15px 25px;
    align-items: center;
    border-radius: 15px;
    background: #D8E3F6;
    gap: 40px;
}

.navclass a {
    color: #0E1120;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.head button {
    display: inline-flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #0E6AAD;
    color: white;
    border: none;
}

.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 99px;
    padding-bottom: 164px;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    align-self: stretch;
}

.explore {
    display: flex;
    align-items: center;
    gap: 6px;
}

.explore p {
    color: #67717D;
    font-family: "Proto Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.explore span {
    color: #FF0083;
}

.DNSclaim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.DNSclaim h1 {
    color: #0E1120;
    font-family: "Roboto", sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.DNSclaim p {
    color: #67717D;
    font-family: "KH Teka";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.search {
    max-width: 547px;
    max-height: 60px;
    width: 100%;
}


.bannerinput {
    position: relative;
    display: flex;
    max-width: 547px;
    max-height: 60px;
    width: 100%;
    height: 60px;
    padding: 14px 8px 14px 42px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #DFEAFC;
}

.inputchild {
    border: none;
    color: #6E8491;
    width: 570px;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    background: #DFEAFC;
}

.inputchild:active{
    border: none;
    box-shadow: none;

}

.inputchild:focus{
    border: none;
    box-shadow: none;
    outline: none;
}
.searchicon {
    position: absolute;
    left: 15px;
    top: 20px;
}

.searchbutton {
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 12px;
    padding: 16px 38px;
    color: #E8F2FF;
    text-align: center;
    font-family: "KH Teka";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    background: #222D37;
    border: none;
}

.documentation {
    display: flex;
    padding: 16px 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 15px;
    background: #DFEAFC;
    border: none;
    cursor: pointer;
    width: auto;
    position: relative;

}

.HotAuctions {
    width: 100%;
    flex-shrink: 0;
    margin: 0 auto;
    padding-top: 64px;
    background: url('./assets/hotbackground.png') ;
    text-align: center;
   
}

.heading {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: 29px;

}

.anchorstyle {
    color: #FF0083;
    text-align: center;
    font-family: "Proto Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

}

.heading h2 {
    color: var(--primary-color, #0E1120);
    text-align: center;
    font-family: "KH Teka";
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    align-self: center;
}

.heading p {
    color: #67717D;
    text-align: center;
    font-family: "KH Teka";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 588px;
    width: 100%;
}

/* Card styles */


.card-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.auction-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    max-width: 315px;
    width: 100%;
    padding: 35px 31px;
    background-image: url('./assets/Group\ 2085661361.png');
    background-color: #E0ECFA;
}

.card-content {
    display: flex;
    width: 100%;
    gap: 33px;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 9.457px;
    background: #DBE7F7;
}

.bid-label {
    padding: 2px 8px;
    border-radius: 32px;
    background: #D0DEEF;
}

.token-price {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: -28px;
}

/* Updated from cardiconh3 to price-value */
.price-value {
    color: var(--primary-color, #0E1120);
    font-family: "KH Teka";
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.domain-name {
    color: var(--primary-color, #0E1120);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.countdown-timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 15px;
}

.time-unit {
    display: flex;
    width: 46px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.time-value {
    padding: 10px;
    border-radius: 6px;
    background: var(--frame-color, #E7F2FF);
    color: var(--primary-color, #0E1120);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.time-label {
    color: var(--primary-color, #0E1120);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.viewmorebttn{
    display: inline-flex;
    padding: 18px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #D0DEEF;
    margin-top: 56px;
    margin-bottom: 85px;
    border: none;
}


.ownershipwrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    position: relative;
    padding-top: 90px;
}

.ownershipimg{
    max-width: 743.705px;
    max-height: 689.435px;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.ownershiptextwrapper{
    display: flex;
    max-width: 457px;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 186px;
}

.ownership{
    position: relative;
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
}

.ownershiph2{
    color: #0E1120;
    font-family: "Roboto", sans-serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
    width: 100%;
    margin-top: 12px;
    margin-bottom: 35px;
    max-width: 357px;
}

.ownershipp{
    color: #67717D;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    width: 100%;
}

.bottomrightimg{
    position: absolute;
    bottom: -318px;
    right: 0;
}

.decen{
    display: flex;
    padding: 70px 100px;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    background: #E7F2FF;
    position: relative;
    overflow: hidden;
    z-index: 9999;
}

.descmain{
    display: flex;
    max-width: 667px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;    
}

.decenheader{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.decenh3{
    color: #0E1120;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
}



.desccontainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.desch4{
    color: #0E1120;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
    max-width: 100%;
}

.descp{
    color: #67717D;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    width: 100%;
    max-width: 283.5px;
}

.desccolumn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    width: 100%;
    max-width: 1000px;
    gap: 10px;
}

.desccontainerson{
    display: flex;
    max-height: 134px;
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    background: #E0ECFA;
}

.decenimg{
    display: flex;
    max-width: 663.391px;
    max-height: 714.111px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.earlyaccess{
    display: flex;
    max-width: 1440px;
    padding: 60px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.earlyaccess .earlyaccesswrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

 .earlyaccesstext .earlyaccessh3{
    color: var(--primary-color, #0E1120);
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding-bottom: 12px;
}

.earlyaccesstext .earlyaccessp{
    color: #67717D;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 369px;
    width: 100%;
}

.earlyaccesstext{
    display: flex;
    max-width: 490px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.earlyaccesswrapper .earlyaccessformwrapper{
    display: flex;
    max-width: 479px;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 15px;
    background: #E7F2FF;
}

.earlyaccessformwrapper .earlyaccessform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 439px;
    width: 100%;
}

.earlyaccessform .nameinput{
    display: flex;
    padding: 22px 15px;
    align-items: center;
    gap: 47px;
    width: 100%;
    border-radius: 15px;
    background: #E0ECFA;
    border: none;
}

.earlyaccessform .emailinput{
    display: flex;
    padding: 22px 15px;
    align-items: center;
    gap: 47px;
    width: 100%;
    border-radius: 15px;
    background: #E0ECFA;
    border: none;
}

.earlyaccessform .earlyaccessbttn{
    display: flex;
    max-height: 58px;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 439px;
    width: 100%;
    border-radius: 15px;
    background: #222D37;
    border: none;
    color: #E8F2FF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.domainclaim{
    width: 100%;
    flex-shrink: 0;
    background: url('./assets/AdobeStock_221478691\ [Converted]\ 2\ \(1\).png');
    background-blend-mode: screen, normal;
    padding: 91.25px 120px;
}

.domainclaimmain{
    padding-top: 88px;
    padding-bottom: 88px;
    text-align: center ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    border-radius: 25px;
    background: url('/assets/Frame\ 17.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.domainclaimtexts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.domainclaimh3{
    color: var(--systemGrey-900, #212121);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
    max-width: 726px;
    width: 100%;
}
.domainclaimh3 span{
    color: var(--primary-color, #0E1120);
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
}

.domainclaimp{
    color: #000;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    max-width: 726px;
    width: 100%;
}

.footer{
    display: flex;
    padding: 50px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;   
    background: #E7F2FF;
}

.footer .footermain {
    display: flex;
    max-width: 1200px;
    width:100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    overflow: hidden;
}

.footermain .footercolumn1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 88px;
}

.footercolumn1son {
    display: flex;
    gap: 15px;
}

.footermain .footercolumn2{
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.footercolumn2 .footercolumn2son{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    list-style: none;
}

.footercolumn2son .footercolumnheading{
    color: var(--systemGrey-900, #212121);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-wrap: nowrap;
    width: 100%;
    text-decoration: none;
}

.footercolumn2son a{
    color: var(--systemGrey-900, #212121);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    opacity: 0.5;
    text-decoration: none;
    text-wrap: nowrap;
}

.footer .footerbottom{
    display: inline-flex;
    align-items: flex-start;
    gap: 18px;
    margin-top: 177px;
}

.footerbottom a{
    color: var(--systemGrey-900, #212121);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 990px) {
    .head {
        gap: 15px;
    }

    .navclass {
        display: none;
    }

    .searchbutton {
        padding: 16px 32px;
    }

    .DNSclaim h1 {
        font-size: 36px;
    }

    .home {
        gap: 10px;
    }

    .inputchild {
        width: 300px;
        font-size: 13px;
    }

    .DNSclaim p {
        font-size: 18px;
    }

    .DNSclaim {
        gap: 20px;
    }

    .decen{
        flex-direction: column;
        padding: 85px 0;
    }

    .heading h2{
        font-size: 45px;
    }

    .heading p{
        font-size: 15px;
    }

    .earlyaccess{
        padding: 60px 0;
    }

    .earlyaccess .earlyaccesswrapper{
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        padding: 64px 0;
    }

    .earlyaccesstext{
        margin-right: 0;
        max-width: 100%;
        padding: 0 20px;
        text-align: center;
        align-items: center;
    }

    .earlyaccesstext .earlyaccessh3{
        max-width: 100%;
        font-size: 36px;
    }
    .earlyaccesstext .earlyaccessp{
        max-width: 100%;
        font-size: 18px;
        max-width: 400px;
    }

    .earlyaccessform{
        margin-right: 0;
        max-width: 100%;
        padding: 0 20px;
        text-align: center;
        align-items: center;
    }
    .ownershipwrapper{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 64px 32px;
    }

    .ownershipimg {
        max-width: 800px;
        height: auto;
    }

    .ownershiptextwrapper{
        margin-right: 0;
        max-width: 100%;
        padding: 0 30px;
        text-align: center;
        align-items: center;
    }

    .bottomrightimg{
        display: none;
    }

    .ownershiph2{
        max-width: 100%;
        font-size: 36px;
    }

    .ownershipp{
        max-width: 100%;
        font-size: 18px;
    }
    
    .domainclaim {
        padding: 60px 40px;
    }
    
    .domainclaimmain {
        padding-top: 60px;
        padding-bottom: 60px;
        background-size: cover;
    }
    
    .domainclaimh3, .domainclaimh3 span {
        font-size: 36px;
        max-width: 100%;
    }
    
    .domainclaimp {
        font-size: 18px;
        max-width: 100%;
        padding: 0 10px;
    }

    .footer{
        padding: 60px 0;
    }

    .footermain .footercolumn2{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }   

    .footer .footermain{
        flex-direction: column;
        gap: 80px;
        align-items: center;;
    }

}

@media (max-width: 600px) {
    .head {
        gap: 15px;
    }

    .navclass {
        display: none;
    }

    .searchbutton {
        padding: 16px 32px;
    }

    .DNSclaim h1 {
        font-size: 36px;
    }

    .home {
        gap: 10px;
    }

    .inputchild {
        width: 300px;
        font-size: 13px;
    }

    .DNSclaim p {
        font-size: 18px;
    }

    .DNSclaim {
        gap: 20px;
    }

    .decenheader{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .desccolumn{
        justify-content: center;
    }

    .descmaim{
        justify-content: center;
        justify-items: center;
        padding: 0;
    }

    .earlyaccess{
        padding: 0;
    }

    .domainclaimh3, .domainclaimh3 span{
        font-size: 32px;
    }

    .domainclaimp{
        font-size: 15px;
    }

    .domainclaimh3, .domainclaimh3 span, .domainclaimp {
        max-width: 100%;
        padding: 0 20px;
        font-size: 18px;
    }

    .domainclaimp {
        font-size: 10px;
        max-width: 100%;
        padding: 0 20px;
    }

    .ownershiph2{
        font-size: 26px;
        max-width: 100%;
        text-wrap: nowrap;
    }

    .ownershipp{
        font-size: 16px;
        max-width: 100%;
    }

    .ownershiptextwrapper{
        padding: 0;
    }

    .earlyaccesstext .earlyaccessh3{
        font-size: 26px;
        max-width: 100%;
    }

    .earlyaccesstext .earlyacessp{
        font-size: 16px;
        max-width: 400px;
    }

    .heading h2{
        font-size: 36px;
    }

    .heading p{
        font-size: 13px;
        padding: 0 10px;
    }

    .decenh3{
        font-size: 36px;
    }

    .footerbottom{
        margin-top: 50px !important;
    }

}

